@model dotnet_store.Models.SliderCreateModel 
@{ Layout = "_AdminLayout"; }

<div class="row">
  <div class="col">
    <div class="card shadow">
      <div
        class="card-header py-1 d-flex justify-content-between align-items-center"
      >
        <h5 class="card-title">Slider Ekle</h5>
        <a asp-action="Index" class="btn btn-sm btn-primary d-flex ms-auto align-items-center ">
          <i class="fa-solid fa-list"></i>
        </a>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-3 row">
                <label asp-for="Title" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input asp-for="Title" class="form-control" />
                  <span asp-validation-for="Title" class="text-danger"></span>
                </div>
              </div>

              <div class="mb-3 row">
                <label
                  asp-for="Description"
                  class="col-sm-2 col-form-label"
                ></label>
                <div class="col-sm-10">
                  <textarea
                    asp-for="Description"
                    rows="3"
                    class="form-control"
                  ></textarea>
                  <span
                    asp-validation-for="Description"
                    class="text-danger"
                  ></span>
                </div>
              </div>

              <div class="mb-3 row">
                <label asp-for="Index" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input asp-for="Index" class="form-control" />
                  <span asp-validation-for="Index" class="text-danger"></span>
                </div>
              </div>

              <div class="mb-3 row align-items-center">
                <label asp-for="Active" class="col-sm-2 col-form-label mb-0"></label>
                <div class="col-sm-4">
                  <input
                    type="checkbox"
                    class="form-check-input me-2"
                    data-bootstrap-switch
                    asp-for="Active"
                    id="Active"
                  />
                </div>

                <label asp-for="CategoryId" class="mb-0 col-sm-2 col-form-label">Categories</label>
                <div class="col-sm-4">
                <select
                  asp-for="CategoryId"
                  asp-items="ViewBag.Categories"
                  class="form-select"
                >
                  <option value="">-- Seçiniz --</option>
                </select>
                <span
                  asp-validation-for="CategoryId"
                  class="text-danger"
                ></span>
              </div>
              </div>

              <div class="text-end mt-4">
                <button
                  type="submit"
                  class="btn btn-md btn-primary w-100 shadow-sm"
                >
                  Kaydet
                </button>
              </div>
            </div>

            <div class="col-md-4">
              <label asp-for="Image" class="form-label"></label>
              <div class="text-center p-3 border rounded shadow-sm bg-light">
                <img
                  id="imagePreview"
                  src="https://placehold.co/300x200"
                  class="img-thumbnail mb-2"
                  style="max-height: 200px"
                  alt="Görsel Önizleme"
                />
                <input
                  type="file"
                  asp-for="Image"
                  class="form-control shadow-sm"
                  accept="image/*"
                  onchange="previewImage(event)"
                />
                <span asp-validation-for="Image" class="text-danger"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts{
<script>
  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById("imagePreview");
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>
}
