@model SliderEditModel 
@{ Layout = "_AdminLayout"; }

<div class="row">
  <div class="col-12">
    <div class="card shadow rounded-4">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <span>Edit Slider</span>
        <div class="d-flex gap-3 ms-auto">
          <a
            asp-action="Index"
            class="btn btn-sm btn-custom"
            title="Slider List"
          >
            <i class="fa-solid fa-list"></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-3 row">
                <label asp-for="Title" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input asp-for="Title" class="form-control" />
                </div>
              </div>

              <div class="mb-3 row">
                <label
                  asp-for="Description"
                  class="col-sm-2 col-form-label"
                ></label>
                <div class="col-sm-10">
                  <textarea
                    asp-for="Description"
                    rows="3"
                    class="form-control"
                  ></textarea>
                </div>
              </div>

              <div class="mb-3 row">
                <label asp-for="Index" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input asp-for="Index" class="form-control" />
                </div>
              </div>

              <div class="mb-3 row align-items-center">
                <label
                  asp-for="Active"
                  class="col-sm-2 col-form-label mb-0"
                ></label>
                <div class="col-sm-4">
                  <input
                    type="checkbox"
                    class="form-check-input me-2"
                    data-bootstrap-switch
                    asp-for="Active"
                    id="Active"
                    data-on-color="teal"
                  />
                </div>

                <label asp-for="CategoryId" class="mb-0 col-sm-2 col-form-label"
                  >Categories</label>
                <div class="col-sm-4">
                  <select
                    asp-for="CategoryId"
                    asp-items="ViewBag.Categories"
                    class="form-select"
                  >
                    <option value="">-- Select --</option>
                  </select>
                  <span
                    asp-validation-for="CategoryId"
                    class="text-danger"
                  ></span>
                </div>
              </div>
            </div>

            <div class="col-md-4 mx-auto">
              <div class="text-center">
                <div class="mb-3">
                  <img id="imagePreview"
                  src="@(string.IsNullOrEmpty(Model.Image) ?
                  "https://placehold.co/300x200" : Url.Content("~/img/" +
                  Model.Image))" class="img-fluid img-thumbnail w-100" />
                  <div class="input-group w-100">
                    <div class="custom-file w-100">
                      <input type="hidden" asp-for="Image" />
                      <input
                        asp-for="ImageFile"
                        type="file"
                        class="custom-file-input"
                        accept="image/*"
                        onchange="previewImage(event)"
                      />
                      <span
                        asp-validation-for="ImageFile"
                        class="text-danger"
                      ></span>
                      <label class="custom-file-label text-left" for="Image"
                        >Upload an Image</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-end mt-4">
                <button
                  type="submit"
                  class="btn btn-md btn-custom w-100 shadow-sm d-flex justify-content-center"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts { @await Html.PartialAsync("_ValidationScriptsPartial"); }
