@model CategoryCreateModel
@{
    Layout ="_AdminLayout";
}
  <div class="row">
            <div class="col">
                <div class="card shadow rounded-4">
                   <div class="card-header d-flex justify-content-between align-items-center">
        <span>Create Category</span>
        <div class="d-flex gap-3 ms-auto">
          <a
            asp-action="Index"
            class="btn btn-sm btn-custom"
            title="Slider List"
          >
            <i class="fa-solid fa-list"></i>
          </a>
        </div>
      </div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form method="post" asp-controller="Category" asp-action="Create">
                            <div class="row mb-3">
                                <label asp-for="CategoryName" name="CategoryName" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="CategoryName" class="form-control">
                                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Url" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                <input asp-for="Url" class="form-control" />
                                <span asp-validation-for="Url" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <label asp-for="IsActive" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-6 d-flex align-items-center">
                                    <input type="checkbox" class="form-check-input" data-bootstrap-switch data-on-color="teal" asp-for="IsActive" id="IsActive" checked />
                                </div>

                                <div class="col-sm-4 d-flex justify-content-end ">
                                    <button type="submit" class="btn btn-custom w-75 justify-content-center">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      @section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
