 <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
            <div class="container">
                <a href="index.html" class="navbar-brand">Admin</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a asp-controller="Category" asp-action="Index" class="nav-link">Category</a>
                        </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ps-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="Index" asp-controller="Product" class="dropdown-item">Products</a></li>
                        <li><a asp-action="NonActiveProduct" asp-controller="Product" class="dropdown-item">Archieved Products</a></li>
                    </ul>
                </li>
                        <li class="nav-item">
                            <a asp-controller="Slider" asp-action="Index" class="nav-link">Slider</a>
                        </li>
                        <li class="nav-item">
                            <a href="role.html" class="nav-link">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a href="kullanici.html" class="nav-link">User Name</a>
                        </li>
                        <li class="nav-item">
                            <a href="siparis.html" class="nav-link">Order</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Nisa Nur Bayrak</a>
                            <ul class="dropdown-menu">
                                <li><a href="hesabim.html" class="dropdown-item">Account</a></li>
                                <li><a href="#" class="dropdown-item">Logout</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="login.html" class="nav-link">Login</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>